<html lang="en">

    <%- include('./part/head.ejs') %>
    
    <body>
        
        <%- include('./part/nav.ejs') %>


        <div class="blogs content">
            <h2>All Blogs</h2>

            <% if (blogs.length > 0) { %>
                <% blogs.forEach(blogs => { %>
                   <h3 class="title"><%= blogs.title %></h3>
                   <p class="snippet"><%= blogs.snippet %></p>
                 <% }) %>
 
               <% }
                else { %>
                 <p>There are no blogs to display.</p>
               <% } %>
        </div>

        <%- include('./part/foo.ejs') %>

    </body>
</html>